git@github.com:ministryofjustice/apparmor-formula.git==v1.0.1
git@github.com:ministryofjustice/firewall-formula.git==v1.1.2
git@github.com:ministryofjustice/repos-formula.git==v1.1.1
git@github.com:ministryofjustice/bootstrap-formula.git==v2.1.0
