#git@github.com:ministryofjustice/bootstrap-formula.git
#git@github.com:ministryofjustice/firewall-formula.git
#git@github.com:ministryofjustice/apparmor-formula.git==v1.0.0
git@github.com:ministryofjustice/hardening-formula.git==v1.2.2
git@github.com:ministryofjustice/firewall-formula.git==v1.1.0
git@github.com:ministryofjustice/admins-formula.git==v1.0.1
git@github.com:ministryofjustice/metrics-formula.git==v1.4.0-rc.cc.1
git@github.com:ministryofjustice/logstash-formula.git==v1.2.0

git@github.com:ministryofjustice/sensu-formula.git==v4.1.1-rc.cc.1
git@github.com:ministryofjustice/hosts-formula.git==v3.0.0

git@github.com:ministryofjustice/nginx-formula.git==v2.1.0-rc.nginx.1
git@github.com:ministryofjustice/jenkins-formula.git==v1.0.3

# Pin dep
git@github.com:ministryofjustice/supervisor-formula.git==v1.0.0
git@github.com:ministryofjustice/python-formula.git==v1.0.2
git@github.com:ministryofjustice/repos-formula.git==v1.1.0
git@github.com:ministryofjustice/apparmor-formula.git==v1.0.1
git@github.com:ministryofjustice/redis-formula.git==v1.0.1

git@github.com:ministryofjustice/bootstrap-formula.git==v1.0.1
git@github.com:ministryofjustice/elasticsearch-formula.git==v1.3.1

