{% set nginx = salt['grains.filter_by']({
    'Ubuntu-14.04': {
        'pkg': 'nginx-full',
        'pkg_skip_verify': False,
        'version': '1.4.6-1ubuntu3.2',
        'port': '80',
        'throttling': {
            'enabled': False,
            'zones': {
                'php': {
                    'rate': '30r/m',
                    'burst': 5,
                }
            }
        },
        'logrotate': {
            'rotate_days': '365'
        },
        'readable_doc_dir_globs': [],
        'http_core_module_config': {
            'client_max_body_size': '50k',
        }
    },
    'Ubuntu-12.04': {
        'pkg': 'nginx-full',
        'pkg_skip_verify': False,
        'version': '1.4.6-1ubuntu3.precise',
        'port': '80',
        'throttling': {
            'enabled': False,
            'zones': {
                'php': {
                    'rate': '30r/m',
                    'burst': 5,
                }
            }
        },
        'logrotate': {
            'rotate_days': '365'
        },
        'readable_doc_dir_globs': [],
        'http_core_module_config': {
            'client_max_body_size': '50k',
        }
    },
    'Unknown': {
        'pkg': 'nginx-full',
        'pkg_skip_verify': False,
        'version': False,
        'port': '80',
        'throttling': {
            'enabled': False,
            'zones': {
                'php': {
                    'rate': '30r/m',
                    'burst': 5,
                }
            }
        },
        'logrotate': {
            'rotate_days': '365'
        },
        'readable_doc_dir_globs': [],
        'http_core_module_config': {
            'client_max_body_size': '50k',
        }
    }
}, grain='osfinger', merge=salt['pillar.get']('nginx',{}), default='Unknown') %}


{% set maintenance = {
    'enabled': salt['grains.get']('maintenance',False),
    'password': salt['pillar.get']('maintenance:password','seriouslychangeme'),
} %}


{% set provider = salt['grains.get']('provider','ec2') %}
