{% set nginx = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'nginx-full',
        'port': '80',
        'throttling': {
            'enabled': False,
            'zones': {
                'php': {
                    'rate': '30r/m',
                    'burst': 5,
                }
            }
        },
        'http_core_module_config': {
            'client_max_body_size': '50k',
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('nginx',{})) %}


{% set maintenance = salt['grains.filter_by']({
    'Debian': {
        'enabled': False,
        'password': 'changeme',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('maintenance',{})) %}

{% set provider = salt['grains.get']('provider','ec2') %}
